<div class="row">
  <div class="col-sm-6">
    {{#if errorMessage}}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{errorMessage}}
      </div>
    {{/if}}
    <form {{action 'create' name on='submit'}}>
      <div class="form-group">
        {{input value=name required="true" class="form-control" placeholder="Account name..."}}
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </div>
</div>

{{outlet}}
